@{
    ViewBag.Title = "About";
}
<h2>iTunesManager</h2>

<p>
    iTunesManager is a web application that allows users to search for any artist from the iTunes store and browse their songs.<br />
    Built on the ASP.NET MVC framework, this application connects to the iTunes API to retrieve all the songs associated with the requested artist. The application also has a feature that displays the last 10 recently searched artists in a table.
    Users can view how many times they visited an artist's page or track on the iTunes website using the application's "View Clicks" button. 
    When a user hits the "View Artist" or "View Track" option on the search results page, all of the music associated with that artist are displayed. 
    Users can use this feature to keep track of how frequently they have accessed a specific artist or music on the iTunes website.
    <br />

    Overall, iTunesManager offers a simple and intuitive interface for looking up songs in the iTunes store and tracking user activity on the website.
</p>
