@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>
<h3>
    Pradeep Narayana<br />
    prad.narayana@gmail.com<br />
    <a href="https://www.linkedin.com/in/pradeepnarayana/">LinkedIn</a><br />
</h3>
