@model List<iTunesManager.Models.RecentAccessModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to iTunesManager<br /><br /></h1>
    <p class="lead">Search for your favorite artist</p>
    <form action="@Url.Action("Search", "Home")" method="get">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="Term" placeholder="Search Artist...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </span>
        </div>
    </form>
</div>

<h2>Recently Searched</h2>
@if (Model == null || Model.Count == 0)
{
    <p>No records found.</p>
}
else
{
    <div style="width: 300px; overflow-x: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Artist Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x=>x.AccessTime))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Search", "Home", new { term = item.ArtistName })">@item.ArtistName</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

